version: '3'

services:
  web:
    container_name: sleepyhollows_web
    image: ghcr.io/kyle-beggan/thursdaynightsessions:main
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
      - NEXTAUTH_URL=https://tns.sleepyhollows.com
