version: '3'

services:
  web:
    container_name: sleepyhollows_web
    image: ghcr.io/kyle-beggan/thursdaynightsessions:latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - NEXTAUTH_URL=https://tns.sleepyhollows.com
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
